* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --almost-black: #0A0A0A;
  --text-big: 3rem;
  --text-medium: 1.1rem;
  --text-prettysmall: 0.9rem;
  --text-small: 0.8rem;  }

html, body {
  margin: 0;
  background-color: var(--almost-black);
  font-family: 'Rubik', sans-serif;
}

